<% provide(:title, 'Contact') %>
</br></br>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
      <div class="card small">
        <div class="card-image">
            <%= image_tag "space.gif", class: "card-image" %>
            <span class="card-title">Astronut Contact</span>
        </div>
        <div class="card-content center-align">
          <h6> Contact the Ruby on Rails Tutorial about the sample app at the
           <a href="http://www.railstutorial.org/contact">contact page</a>.</h6>
           <h6> Keep in touch with the developers through sending us an email at
            <a href="astronut.help@gmail.com">astronut.help@gmail.com</a>.</h6>
        </div>
      </div>
    </div>
</div>
