<% provide(:title, "Help") %>
</br></br>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
      <div class="card small">
        <div class="card-image">
            <%= image_tag "space.gif", class: "card-image" %>
            <span class="card-title">Astronut Help</span>
        </div>
        <div class="card-content center-align">
          <h6>Get help on the Ruby on Rails Tutorial at the
          <a href="http://www.railstutorial.org/help">Rails Tutorial help section</a>.</h6>
          <h6>To get help on this sample app, see the
          <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
          book</a>.</h6>
        </div>
      </div>
    </div>
</div>
