<%= form_for(current_user.active_relationships.build(followed_id: @user.id), remote: true) do |f| %>
    </br></br></br>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div><%= hidden_field_tag :followed_id, @user.id %></div>
            <%= f.submit "Follow", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
