<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }, remote: true) do |f| %>
    </br></br></br>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <%= f.submit "Unfollow", class: "btn" %>
        </div>
    </div>
<% end %>
