<tr>
      <td>
        <%= gravatar_for user, size: 50 %>
      </td>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td>
        <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "DELETE", user, method: :delete,
                                      data: { confirm: "Are you sure you want to delete this user?" },
                                      class: 'btn btn-xs btn-danger',
                                      title: "Delete User" %>
        <% end %>
    </td>
  </tr>
  