<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Astronut</h5>
          <p class="grey-text text-lighten-4">Blog to your heart's content. It's the 21st century and technology is
              the talk of the town. Stop alienating yourself and make friends. Don't worry, we won't gobble your life (at least for now).
              Be part of Astronut!</p>
        </div>
        <div class="col l4 s12"></div>
        <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="<%= help_path %>">Help</a></li>
              <li><a class="white-text" href="<%= about_path %>">About</a></li>
              <li><a class="white-text" href="<%= contact_path %>">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      The <a class="brown-text text-lighten-3" href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      by <a class="brown-text text-lighten-3" href="http://www.michaelhartl.com/">Michael Hartl</a>
      </div>
    </div>
  </footer>
